### Instalar librerÃ­as y reiniciar kernel.

In [1]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in /opt/conda/lib/python3.8/site-packages (2.2.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.8/site-packages (1.2.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.8/site-packages (from pandas) (1.20.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas) (2020.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

### Importaciones

In [3]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import inspect
from sqlalchemy import *
import json

### Crear acceso a engine de mysql e inspeccionar.

In [4]:
engine = create_engine('mysql+mysqlconnector://test:test123@db/test', echo = True)

In [5]:
pd.read_sql("select current_date", con=engine)

2021-02-04 06:48:29,734 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2021-02-04 06:48:29,736 INFO sqlalchemy.engine.base.Engine {}
2021-02-04 06:48:29,741 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'lower_case_table_names'
2021-02-04 06:48:29,743 INFO sqlalchemy.engine.base.Engine {}
2021-02-04 06:48:29,750 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2021-02-04 06:48:29,751 INFO sqlalchemy.engine.base.Engine {}
2021-02-04 06:48:29,758 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2021-02-04 06:48:29,759 INFO sqlalchemy.engine.base.Engine {}
2021-02-04 06:48:29,764 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2021-02-04 06:48:29,767 INFO sqlalchemy.engine.base.Engine {}
2021-02-04 06:48:29,775 INFO sqlalchemy.engine.base.Engine DESCRIBE `select current_date`
2021-02-04 06:48:29,777 INFO sqlalchemy.engine.base.Engine {}
2021-02-04 06:48:29,780 INFO sqlalchemy.engine.base.Engine ROLLBACK
2021-02-04 06:48:29,785 INFO sqlalchemy.engine.base.OptionEngine select current_date
2021-02-04 06:48:29,787 INFO sqlalchemy.engine.base.OptionEngine {}

  current_date
0   2021-02-04

In [6]:
inspector = inspect(engine)
schemas = inspector.get_schema_names()

for schema in schemas:
    print("schema: %s" % schema)
    for table_name in inspector.get_table_names(schema=schema):
        for column in inspector.get_columns(table_name, schema=schema):
            print("Column: %s" % column)

2021-02-04 06:48:29,878 INFO sqlalchemy.engine.base.Engine SHOW schemas
2021-02-04 06:48:29,880 INFO sqlalchemy.engine.base.Engine {}
schema: information_schema
2021-02-04 06:48:29,887 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `information_schema`
2021-02-04 06:48:29,889 INFO sqlalchemy.engine.base.Engine {}
schema: test
2021-02-04 06:48:29,901 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `test`
2021-02-04 06:48:29,903 INFO sqlalchemy.engine.base.Engine {}
2021-02-04 06:48:29,953 INFO sqlalchemy.engine.base.OptionEngine SHOW CREATE TABLE `test`.`time_series_covid19_confirmed_global`
2021-02-04 06:48:29,955 INFO sqlalchemy.engine.base.OptionEngine {}
Column: {'name': 'index', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'Province/State', 'type': TEXT(), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'Country/Region', 'type': TEXT(), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'Lat', 'type': TEXT(), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'Long', 'type': TEXT(), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'date', 'type': DATETIME(), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'cases', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
2021-02-04 06:48:29,966 INFO sqlalchemy.engine.base.OptionEngine SHOW CREATE TABLE `test`.`unconfirmed_transactions`
2021-02-04 06:48:29,968 INFO sqlalchemy.engine.base.OptionEngine {}
Column: {'name': 'index', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'lock_time', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'ver', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'size', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'weight', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'time', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'tx_index', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'vin_sz', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'hash', 'type': TEXT(), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'vout_sz', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'relayed_by', 'type': TEXT(), 'default': None, 'comment': None, 'nullable': True}
2021-02-04 06:48:29,982 INFO sqlalchemy.engine.base.OptionEngine SHOW CREATE TABLE `test`.`vaccinations_per_country`
2021-02-04 06:48:29,983 INFO sqlalchemy.engine.base.OptionEngine {}
Column: {'name': 'index', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'country', 'type': TEXT(), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'iso_code', 'type': TEXT(), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'date', 'type': TEXT(), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'total_vaccinations', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'people_vaccinated', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'people_fully_vaccinated', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'daily_vaccinations_raw', 'type': DOUBLE(asdecimal=True), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'daily_vaccinations', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'total_vaccinations_per_hundred', 'type': DOUBLE(asdecimal=True), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'people_vaccinated_per_hundred', 'type': DOUBLE(asdecimal=True), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'people_fully_vaccinated_per_hundred', 'type': DOUBLE(asdecimal=True), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'daily_vaccinations_per_million', 'type': BIGINT(display_width=20), 'default': None, 'comment': None, 'nullable': True, 'autoincrement': False}
Column: {'name': 'vaccines', 'type': TEXT(), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'source_name', 'type': TEXT(), 'default': None, 'comment': None, 'nullable': True}
Column: {'name': 'source_website', 'type': TEXT(), 'default': None, 'comment': None, 'nullable': True}

In [7]:
print(engine.table_names())

2021-02-04 06:48:30,011 INFO sqlalchemy.engine.base.Engine SHOW FULL TABLES FROM `test`
2021-02-04 06:48:30,014 INFO sqlalchemy.engine.base.Engine {}
['time_series_covid19_confirmed_global', 'unconfirmed_transactions', 'vaccinations_per_country']

# ETL 2

## Extraer

In [8]:
df = pd.read_json('sources/unconfirmed-transactions.json')
df.head()

                                                 txs
0  {'lock_time': 0, 'ver': 1, 'size': 226, 'input...
1  {'lock_time': 0, 'ver': 2, 'size': 225, 'input...
2  {'lock_time': 0, 'ver': 1, 'size': 371, 'input...
3  {'lock_time': 0, 'ver': 1, 'size': 223, 'input...
4  {'lock_time': 0, 'ver': 1, 'size': 226, 'input...

In [9]:
df.dtypes

txs    object
dtype: object

In [10]:
with open('sources/unconfirmed-transactions.json') as json_file:
    data = json.load(json_file)
  
df = pd.json_normalize(data['txs'])
df.head()

,lock_time,ver,size,inputs,weight,time,tx_index,vin_sz,hash,vout_sz,relayed_by,out,rbf
0,0,1,226,"[{'sequence': 4294967295, 'witness': '', 'prev...",904,1611621833,0,1,dd68f3d9b21711243dbd70d3e9914a49bf19e1daa7088b...,2,0.0.0.0,"[{'spent': False, 'tx_index': 0, 'type': 0, 'a...",NaN
1,0,2,225,"[{'sequence': 4294967295, 'witness': '', 'prev...",900,1611621833,0,1,c1dabfa845375b8a07f187522396702a30728cab10d8f2...,2,0.0.0.0,"[{'spent': False, 'tx_index': 0, 'type': 0, 'a...",NaN
2,0,1,371,"[{'sequence': 4294967295, 'witness': '', 'prev...",821,1611621833,0,1,ee3796f7c2c07fca9b48d04e9ec71becb24f621965b119...,2,0.0.0.0,"[{'spent': False, 'tx_index': 0, 'type': 0, 'a...",NaN
3,0,1,223,"[{'sequence': 4294967295, 'witness': '', 'prev...",892,1611621833,0,1,c28cb5b54db80ace84ec926dc72f1bb4db53b2d30a6f18...,2,0.0.0.0,"[{'spent': False, 'tx_index': 0, 'type': 0, 'a...",NaN
4,0,1,226,"[{'sequence': 4294967295, 'witness': '', 'prev...",904,1611621832,0,1,83fe83d4c709b54694686c0170d50d01f6c05d36ad7a84...,2,0.0.0.0,"[{'spent': False, 'tx_index': 0, 'type': 0, 'a...",NaN

In [11]:
df.dtypes

lock_time      int64
ver            int64
size           int64
inputs        object
weight         int64
time           int64
tx_index       int64
vin_sz         int64
hash          object
vout_sz        int64
relayed_by    object
out           object
rbf           object
dtype: object

## Transformar

In [12]:
df = df.drop(['inputs', 'out', 'rbf'], 1)
df.dtypes

lock_time      int64
ver            int64
size           int64
weight         int64
time           int64
tx_index       int64
vin_sz         int64
hash          object
vout_sz        int64
relayed_by    object
dtype: object

## Load al engine

In [13]:
create_table_query = pd.io.sql.get_schema(df.reset_index(), 'test.unconfirmed_transactions', con=engine)
print(create_table_query)
type(create_table_query)

CREATE TABLE `test.unconfirmed_transactions` (
	`index` BIGINT,
	lock_time BIGINT,
	ver BIGINT,
	size BIGINT,
	weight BIGINT,
	`time` BIGINT,
	tx_index BIGINT,
	vin_sz BIGINT,
	hash TEXT,
	vout_sz BIGINT,
	relayed_by TEXT
)

str

In [14]:
with open("schemas/unconfirmed_transactions.sql", "w") as text_file:
    text_file.write(create_table_query)

In [15]:
if not engine.dialect.has_table(engine, "test.unconfirmed_transactions"):  # If table don't exist, Create.
    print("test.unconfirmed_transactions no existe")
    df.to_sql('unconfirmed_transactions', con=engine, schema="test", if_exists='append')

2021-02-04 06:48:30,787 INFO sqlalchemy.engine.base.OptionEngine DESCRIBE `test.unconfirmed_transactions`
2021-02-04 06:48:30,789 INFO sqlalchemy.engine.base.OptionEngine {}
2021-02-04 06:48:30,793 INFO sqlalchemy.engine.base.OptionEngine ROLLBACK
test.unconfirmed_transactions no existe
2021-02-04 06:48:30,806 INFO sqlalchemy.engine.base.Engine DESCRIBE `test`.`unconfirmed_transactions`
2021-02-04 06:48:30,808 INFO sqlalchemy.engine.base.Engine {}
2021-02-04 06:48:30,817 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-04 06:48:30,825 INFO sqlalchemy.engine.base.Engine INSERT INTO test.unconfirmed_transactions (`index`, lock_time, ver, size, weight, `time`, tx_index, vin_sz, hash, vout_sz, relayed_by) VALUES (%(index)s, %(lock_time)s, %(ver)s, %(size)s, %(weight)s, %(time)s, %(tx_index)s, %(vin_sz)s, %(hash)s, %(vout_sz)s, %(relayed_by)s)
2021-02-04 06:48:30,827 INFO sqlalchemy.engine.base.Engine ({'index': 0, 'lock_time': 0, 'ver': 1, 'size': 226, 'weight': 904, 'time': 1611621833, 'tx_index': 0, 'vin_sz': 1, 'hash': 'dd68f3d9b21711243dbd70d3e9914a49bf19e1daa7088b9e3a71d5a9bd5300ef', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}, {'index': 1, 'lock_time': 0, 'ver': 2, 'size': 225, 'weight': 900, 'time': 1611621833, 'tx_index': 0, 'vin_sz': 1, 'hash': 'c1dabfa845375b8a07f187522396702a30728cab10d8f2a31450852c424b03c2', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}, {'index': 2, 'lock_time': 0, 'ver': 1, 'size': 371, 'weight': 821, 'time': 1611621833, 'tx_index': 0, 'vin_sz': 1, 'hash': 'ee3796f7c2c07fca9b48d04e9ec71becb24f621965b11991fb22efe7857f41b2', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}, {'index': 3, 'lock_time': 0, 'ver': 1, 'size': 223, 'weight': 892, 'time': 1611621833, 'tx_index': 0, 'vin_sz': 1, 'hash': 'c28cb5b54db80ace84ec926dc72f1bb4db53b2d30a6f18b566aa51cd5107ab82', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}, {'index': 4, 'lock_time': 0, 'ver': 1, 'size': 226, 'weight': 904, 'time': 1611621832, 'tx_index': 0, 'vin_sz': 1, 'hash': '83fe83d4c709b54694686c0170d50d01f6c05d36ad7a846d0943bf3a8097dceb', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}, {'index': 5, 'lock_time': 0, 'ver': 1, 'size': 248, 'weight': 662, 'time': 1611621831, 'tx_index': 0, 'vin_sz': 1, 'hash': 'cdb866938e41758dd814941527947af02836cbb2605b2c6515031ad43ebd6987', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}, {'index': 6, 'lock_time': 0, 'ver': 2, 'size': 485, 'weight': 1940, 'time': 1611621832, 'tx_index': 0, 'vin_sz': 3, 'hash': '18277b95481f6da358bd608d9138430946ef578a06cf8b03d46d25231090c215', 'vout_sz': 1, 'relayed_by': '0.0.0.0'}, {'index': 7, 'lock_time': 0, 'ver': 1, 'size': 374, 'weight': 845, 'time': 1611621830, 'tx_index': 0, 'vin_sz': 2, 'hash': '928b4a67a68ac8c082d6f11230cffbf11037dc6d218db0b174e31df384bd5ec5', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}  ... displaying 10 of 49 total bound parameter sets ...  {'index': 47, 'lock_time': 0, 'ver': 2, 'size': 192, 'weight': 768, 'time': 1611621821, 'tx_index': 0, 'vin_sz': 1, 'hash': 'd9f1bc31562e168256862a91abcd15679ea705e1db29e66f850c4d774a93d5d9', 'vout_sz': 1, 'relayed_by': '0.0.0.0'}, {'index': 48, 'lock_time': 0, 'ver': 1, 'size': 337, 'weight': 1348, 'time': 1611621822, 'tx_index': 0, 'vin_sz': 2, 'hash': '26107b685c3cc29fdb2f3be2df67cbaf910f930f33f13b6449a884d5170e43c2', 'vout_sz': 1, 'relayed_by': '0.0.0.0'})
2021-02-04 06:48:30,842 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
with engine.begin() as transaction:
    transaction.execute('DELETE FROM test.unconfirmed_transactions')
    df.to_sql('unconfirmed_transactions', con=transaction, schema='test', if_exists='append', index=False)

2021-02-04 06:48:30,983 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-02-04 06:48:30,985 INFO sqlalchemy.engine.base.Engine DELETE FROM test.unconfirmed_transactions
2021-02-04 06:48:30,987 INFO sqlalchemy.engine.base.Engine {}
2021-02-04 06:48:31,025 INFO sqlalchemy.engine.base.Engine DESCRIBE `test`.`unconfirmed_transactions`
2021-02-04 06:48:31,027 INFO sqlalchemy.engine.base.Engine {}
2021-02-04 06:48:31,040 INFO sqlalchemy.engine.base.Engine INSERT INTO test.unconfirmed_transactions (lock_time, ver, size, weight, `time`, tx_index, vin_sz, hash, vout_sz, relayed_by) VALUES (%(lock_time)s, %(ver)s, %(size)s, %(weight)s, %(time)s, %(tx_index)s, %(vin_sz)s, %(hash)s, %(vout_sz)s, %(relayed_by)s)
2021-02-04 06:48:31,042 INFO sqlalchemy.engine.base.Engine ({'lock_time': 0, 'ver': 1, 'size': 226, 'weight': 904, 'time': 1611621833, 'tx_index': 0, 'vin_sz': 1, 'hash': 'dd68f3d9b21711243dbd70d3e9914a49bf19e1daa7088b9e3a71d5a9bd5300ef', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}, {'lock_time': 0, 'ver': 2, 'size': 225, 'weight': 900, 'time': 1611621833, 'tx_index': 0, 'vin_sz': 1, 'hash': 'c1dabfa845375b8a07f187522396702a30728cab10d8f2a31450852c424b03c2', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}, {'lock_time': 0, 'ver': 1, 'size': 371, 'weight': 821, 'time': 1611621833, 'tx_index': 0, 'vin_sz': 1, 'hash': 'ee3796f7c2c07fca9b48d04e9ec71becb24f621965b11991fb22efe7857f41b2', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}, {'lock_time': 0, 'ver': 1, 'size': 223, 'weight': 892, 'time': 1611621833, 'tx_index': 0, 'vin_sz': 1, 'hash': 'c28cb5b54db80ace84ec926dc72f1bb4db53b2d30a6f18b566aa51cd5107ab82', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}, {'lock_time': 0, 'ver': 1, 'size': 226, 'weight': 904, 'time': 1611621832, 'tx_index': 0, 'vin_sz': 1, 'hash': '83fe83d4c709b54694686c0170d50d01f6c05d36ad7a846d0943bf3a8097dceb', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}, {'lock_time': 0, 'ver': 1, 'size': 248, 'weight': 662, 'time': 1611621831, 'tx_index': 0, 'vin_sz': 1, 'hash': 'cdb866938e41758dd814941527947af02836cbb2605b2c6515031ad43ebd6987', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}, {'lock_time': 0, 'ver': 2, 'size': 485, 'weight': 1940, 'time': 1611621832, 'tx_index': 0, 'vin_sz': 3, 'hash': '18277b95481f6da358bd608d9138430946ef578a06cf8b03d46d25231090c215', 'vout_sz': 1, 'relayed_by': '0.0.0.0'}, {'lock_time': 0, 'ver': 1, 'size': 374, 'weight': 845, 'time': 1611621830, 'tx_index': 0, 'vin_sz': 2, 'hash': '928b4a67a68ac8c082d6f11230cffbf11037dc6d218db0b174e31df384bd5ec5', 'vout_sz': 2, 'relayed_by': '0.0.0.0'}  ... displaying 10 of 49 total bound parameter sets ...  {'lock_time': 0, 'ver': 2, 'size': 192, 'weight': 768, 'time': 1611621821, 'tx_index': 0, 'vin_sz': 1, 'hash': 'd9f1bc31562e168256862a91abcd15679ea705e1db29e66f850c4d774a93d5d9', 'vout_sz': 1, 'relayed_by': '0.0.0.0'}, {'lock_time': 0, 'ver': 1, 'size': 337, 'weight': 1348, 'time': 1611621822, 'tx_index': 0, 'vin_sz': 2, 'hash': '26107b685c3cc29fdb2f3be2df67cbaf910f930f33f13b6449a884d5170e43c2', 'vout_sz': 1, 'relayed_by': '0.0.0.0'})
2021-02-04 06:48:31,057 INFO sqlalchemy.engine.base.Engine COMMIT